body{
    background-image: url(images/Avocado-50.jpg);
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 128, 128, 0.541);
    padding: 10px 10px 10px 30px;
}

nav{
    padding: 20px;
}

nav a{
    background-color: darkcyan;
    color:white;
    font-size: 1.5rem;
    padding: 17px 20px;
    text-decoration: none;
    margin-left:10px;
}

.container{
    max-width: 1024px;

}
main{
    background-color: rgba(12, 82, 82, 0.856);
}

.login{
    border-radius: 10px;
    width: fit-content;
    margin:20% auto
}

h1{
    text-align: center;
    color: yellow;
    padding: 10px;
    margin: 0
}

button{
    background-color: darkcyan;
    display: inline-block;
    color: white;
    font-size: 1.1rem;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

main button:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
}

.index{
    padding: 10px;
}

a{
    color: yellow;
    text-decoration: none;;
}

h3{
    color: white;
}

.plan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(82, 12, 12, 0.459);
    text-align: center;
}

.day{
    width:min-content;
    display:inline-block;
    min-width: 14%;
}

.plan button{
    padding:5px;
    font-size: 1rem;
    width: max-content;
    display: block;
    margin: 1px auto;   

}

.plan h1{
    width: 100%;
}

h2{
    color: white;  
    margin: 0;
    background-color: darkcyan;
    border-radius: 20px; 
    text-align: center;
}

p, label{
    color: white;
    display: block;
    font-size: 1.2rem;
}

.stats{
    background-color: rgba(12, 82, 82, 0.459);
}

form{
    padding: 10px;
    text-align: center;
}
