body{
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    min-height: 100%;
}

.container{
    max-width: 1024px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(137, 43, 226, 0.26);
    padding: 10px 0;
    align-items: center;
}

header img {
    padding-left: 20px;
}

nav{
    padding: 20px;
}

nav a, .nav1 a{
    background-color: #386a2e;
    color:white;
    font-size: 1.5rem;
    padding: 17px 20px;
    text-decoration: none;
    margin-left:10px;
}

.nav1 a{
    display: block;
    margin-top: 3px;
}

.bmenu{
    display: none;
    margin-left: 20px;
}


.nav1{
    position: absolute;
    margin-left: -150px;
    display: none;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

h1{
    text-align: left;
    font-family: serif;
}

h2{
    margin: 0;
    border-radius: 20px; 
    text-align: left;
}

button{
    background-color: yellow;
    display: inline-block;
    color: rgba(137, 43, 226, 0.753);
    font-size: 1.1rem;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

main button:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
}
img{
    max-width: 100%;
    margin-top: 20px;
}

a{
    text-decoration: none;
    font-family: serif;
    color: black;
    border-radius: 10px;
}

form{
    padding: 10px;
    text-align: center;
}

input{
    display: block;
}

/* main .html */
.divider{
    max-width: 48%;
    height: min-content;
}

.divider1{
    max-width: 48%;
    height: min-content;
    margin-top: -10%;
}

/* index.html */
.login{
    position: absolute;
    background-image: url("snack-50.jpg");
    background-size:auto;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    align-content: center;
}

.login form{
    margin-left:10%;
    background-color: rgba(137, 43, 226, 0.753);
    padding: 40px;
    border-radius: 10px;
}

.login input{
    height: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
}

.login a{
    color: white;
    font-size: 1rem;
}


/* diet.html */
.plan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(82, 12, 12, 0.459);
    text-align: center;
}

.day{
    width:min-content;
    display:inline-block;
    min-width: 14%;
}

.plan button{
    padding:5px;
    font-size: 1rem;
    width: max-content;
    display: block;
    margin: 1px auto;   

}

.plan h1{
    width: 100%;
}

p, label{
    display: block;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(95, 95, 95);

}

.stats{
    background-color: rgba(12, 82, 82, 0.459);
}


@media(max-width: 800px){
    .divider{
        max-width: 100%;
    }
       
    .divider1{
        max-width: 100%;
        margin-top: 0%;
    }

    .bmenu{
        display: block;
    }
    
    nav{
        display: none;
    }

    
}
