h1{ 
    background-color: yellow;
    text-align: center;
    height: fit-content;
    padding: 1rem;
    font-size: 2rem;
    width: 50%;
}
.types{
    display: flex;
    margin: 0;
    width:50%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.types p{ 
    background-color: purple;
    text-align: center;
    height: 3rem;
    width: 10rem;
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
    padding: 1rem;
}

.types p:hover{
    font-size: 1.2rem;
    padding: .9rem;
}

.plan{
    display: inline;
}