.temp{color:black}

button{
    border:1px solid #54123B;
}

button:hover{
   background-color: #84142D;
   color: white
}

/* *** header *** */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #84142D;
    padding: 1rem;
    margin-bottom:1rem;
}

header a{
    color: white;    
    text-decoration: none;
      
}

nav a:hover{
    text-decoration: underline;

}

nav{
    min-width: 25%;
    display: flex;
    justify-content: space-between;
}

nav a{
    padding:.5rem;
}

header img{
    height: 2.5rem;
}

/* *** Login *** */
.loginContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-image: url(images/snack.jpg);
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;
    padding: 2rem 4rem;
}

.OAuth {
    text-decoration: none;
    color:white;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;

}

.googleOAuth{
    background-color: #ea4335;
}

.facebookOAuth{
    background-color: #3b5998;
}

.appleOAuth{
    background-color: #1d1d1f;
}

/* *** Meal Plan *** */

.body{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* ** Food Groups ** */


h1{
    color: blcak;
    width: fit-content;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}

h2{
    color:black;
    margin: 0;
    padding-bottom: 15px;
}



.foodGroup{
    margin: 15px;
}

.lists{
    display: flex;
    padding: 1px;
    margin-bottom: 15px;
    border-bottom: 1px solid #29C7AC;
}

.singleList{
    max-height: 400px;
    overflow-y: scroll;
}

.item{
    border: 1px solid #C02739;
    background-color: white;
    border-radius: .5rem;
    width: 158.2px;
    font-size: 1rem;
    margin: 0 15px 15px 0;
    padding: 1rem;
}



.done{
    background-color: #29C7AC;
    color:white;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem 0;
}

.edit{
    background-color: #84142D;
    color:white;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem .5rem;
    border: solid 1px white;
}

.edit:hover{
    background-color: #C02739;
}

.editFoodGroup{
    margin: .1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

}

input{
    background-color: white;
    height: 1.3rem;
    width: 158.2px;
    word-wrap:normal;
}

::placeholder{
    background-color: white;
    color: #54123B;
    margin-bottom: .5rem;
}

.serving{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.serving p{
    margin: 0 .2rem;
}

/* ** Days ** */

.mealPlan{
}

h3{
    text-decoration: underline;
    margin: 0;
}

.day{
    display: flex;
    flex-direction: row;
    border: 1px solid #84142D;
    border-radius: 1rem;
    padding: 1rem;
    margin:.5rem;
    flex-wrap: wrap;
    max-width: 100%;
    
}

.meal{
    border-radius: .5rem;
    margin: 0 15px 0 0 ;
    width: 158.2px;
    height: 100%;
}

.mealPlan h2{
    padding-bottom:5px;
    margin:.5rem
}



/* Shopping list  */
.shoopingList{
    border-radius: 1rem;
    margin-top: 15px
}

.shoopingListItem{
    margin-right: 15px;
}



